@layer basic {
	:root {
		--global-section-background-color-alt: rgb(245, 245, 247);
		--global-section-background-color-alt-dark: rgb(29, 29, 31);
		--global-section-padding: 160px;
		--global-section-aap-padding: 216px;
		--sk-focus-color: #0071e3;
		--highlight-accent: #147d89;
	}

	.button {
		--button-margin-horizontal: 14px;
		--button-margin-vertical: 14px;
		--button-padding-horizontal: 16px;
		--button-padding-vertical: 9px;
		--button-border-radius: 980px;
		--button-border-width: 1px;
		--button-border-color: transparent;
		--button-background: rgb(0, 113, 227);
		--button-color: rgb(255, 255, 255);

		font-size: 14px;
		display: inline-block;
		width: auto;
		padding-block: calc(var(--button-padding-vertical) - var(--button-border-width));
		padding-inline: calc(var(--button-padding-horizontal) - var(--button-border-width));
		border: var(--button-border-width) solid var(--button-border-color);
		border-radius: var(--button-border-radius);
		background: var(--button-background);
		color: var(--button-color);
		text-decoration: none;
		cursor: pointer;
	}

	.button-disabled {
		pointer-events: none;
		opacity: 0.42;
	}

	.typography-callout {
		font-size: 30px;
		line-height: 39px;
		font-weight: 700;
		letter-spacing: 0.05rem;
	}

	.typography-media-card-gallery-headline {
		line-height: 1.3;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: 0.01rem;
	}

	.footnote {
		top: auto;
		position: relative;
		vertical-align: initial;
		text-underline-offset: -0.3rem;
		font-feature-settings: "numr";
		position: relative;
		font-size: 1em;
	}

	.banner-card-active-area {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.banner-card-ctas {
		margin-top: 18px;
		display: inline-flex;
	}

	.icon-wrapper {
		color: rgb(41, 151, 255);
		text-decoration: none;
	}

	.icon-after {
		margin-inline-start: 4px;
	}

	.row {
		display: flex;
		width: 100%;
	}

	.column {
		min-width: 0;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.banner {
		transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);

		&:hover {
			transform: scale(1.006);
		}
	}

	.pin-bottom-center {
		align-items: flex-end;
		justify-content: center;
		text-align: center;
	}

	.slide-snap-control {
		scroll-snap-type: x mandatory;
	}

	.sticky-element {
		position: sticky;
		height: 100lvh;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	.button {
		--button-margin-horizontal: 14px;
		--button-margin-vertical: 14px;
		--button-padding-horizontal: 16px;
		--button-padding-vertical: 9px;
		--button-border-radius: 980px;
		--button-border-width: 1px;
		--button-border-color: transparent;
		--button-background: rgb(0, 113, 227);
		--button-color: rgb(255, 255, 255);

		font-size: 14px;
		display: inline-block;
		width: auto;
		padding-block: calc(var(--button-padding-vertical) - var(--button-border-width));
		padding-inline: calc(var(--button-padding-horizontal) - var(--button-border-width));
		border: var(--button-border-width) solid var(--button-border-color);
		border-radius: var(--button-border-radius);
		background: var(--button-background);
		color: var(--button-color);
		text-decoration: none;
		cursor: pointer;
	}

	.button-disabled {
		pointer-events: none;
		opacity: 0.42;
	}

	.typography-media-card-gallery-headline {
		line-height: 1.3;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: 0.01rem;
	}

	.footnote {
		top: auto;
		position: relative;
		vertical-align: initial;
		text-underline-offset: -0.3rem;
		font-feature-settings: "numr";
		position: relative;
		font-size: 1em;
	}

	.banner-card-active-area {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.banner-card-ctas {
		margin-top: 18px;
		display: inline-flex;
	}

	.icon-wrapper {
		color: rgb(41, 151, 255);
		text-decoration: none;
	}

	.icon-after {
		margin-inline-start: 4px;
	}

	.row {
		display: flex;
		width: 100%;
	}

	.column {
		min-width: 0;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.banner {
		transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);

		&:hover {
			transform: scale(1.006);
		}
	}

	.pin-bottom-center {
		align-items: flex-end;
		justify-content: center;
		text-align: center;
	}

	.slide-snap-control {
		scroll-snap-type: x mandatory;
	}

	.sticky-element,
	.sticky-gallery {
		position: sticky;
		height: 100lvh;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	@layer section {
		.section {
			position: relative;
			background-color: var(--background-accent, rgb(255, 255, 255));
			padding-bottom: 160px;
		}

		.section-headline-container {
			text-align: center;
		}

		.section-ps-intro {
			width: 75%;
			margin-top: 32px;
			margin-inline-start: 0;
			margin-inline-end: auto;
		}

		.section-ps-healine-container + .section-ps-intro {
			--intro-margin-top: 32px;
			margin-top: var(--intro-margin-top);
		}
	}

	@layer unit {
		.large-6 {
			flex-basis: 50%;
			max-width: 50%;
		}

		.large-7 {
			flex-basis: 58.3333333%;
			max-width: 58.3333333%;
		}

		.large-8 {
			flex-basis: 66.6666666667%;
			max-width: 66.6666666667%;
		}

		.large-9 {
			flex-basis: 75%;
			max-width: 75%;
		}

		.large-11 {
			flex-basis: 91.6666666667%;
			max-width: 91.6666666667%;
		}

		.large-12 {
			flex-basis: 100%;
			max-width: 100%;
		}

		.large-centered {
			margin-inline: auto;
		}
	}

	@layer grid {
		.grid {
			--sk-cssgrid-columns: 12;
			display: grid;
			gap: 24px;
			grid-template-columns: repeat(var(--sk-cssgrid-columns), minmax(0, 1fr));
		}

		.bento-content-width {
			--bento-max-width: 1260px;
			--bento-inline-padding: 24px;
			--bento-width: calc(var(--bento-max-width) + var(--bento-inline-padding) * 2);

			box-sizing: border-box;
			max-width: var(--bento-width);
			margin-inline: auto;
			padding-inline: var(--bento-inline-padding);
		}
	}

	@layer inline {
		.inline-media-component-container {
			position: relative;
			width: 100%;
			max-width: 1680px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	@layer section {
		.section {
			padding-top: var(--global-section-padding);
			padding-bottom: var(--global-section-padding);
		}
	}

	@layer spacing {
		.no-pad-bottom {
			padding-bottom: 0;
		}

		.no-pad-top {
			padding-top: 0;
		}
	}

	@layer image {
		.fallback-image {
			pointer-events: none;
		}
		.fallback-image:first-of-type {
			position: relative;
			opacity: 1;
			visibility: visible;
		}
	}

	@layer card {
		.tile-rounded {
			--sk-tile-border-radius-large: var(--sk-tile-border-radius, 18px);
			--sk-tile-border-radius-xlarge: 72px;
			--sk-tile-border-radius-medium: var(--sk-tile-border-radius, var(--sk-tile-border-radius-large));
			--sk-tile-border-radius-small: var(--sk-tile-border-radius, var(--sk-tile-border-radius-large));
			--sk-tile-border-radius-xsmall: var(--sk-tile-border-radius, var(--sk-tile-border-radius-large));

			isolation: isolate;
			border-radius: var(--sk-tile-border-radius-xlarge);
			overflow: hidden;
		}

		.tile {
			--sk-tile-background: rgb(255, 255, 255);
			background: var(--sk-tile-background);
		}
		.card {
			width: 100%;
		}
	}

	@layer typography {
		.typography-ps-intro {
			font-size: 19.5px;
			line-height: 32px;
			font-weight: 600;
		}
		.typography-ps-eyebrow {
			font-size: 24px;
			line-height: 31px;
			font-weight: 700;
			letter-spacing: 0.2px;
			word-break: keep-all;
		}

		/* .typography-ps-headline {
		margin-top: 30px;
		font-size: 70px;
		line-height: 1.15;
		font-weight: 700;
		letter-spacing: 0em;
		word-break: keep-all;
	} */

		.typography-ps-headline-super {
			margin-top: 30px;
			font-size: 70px;
			line-height: 1.15;
			font-weight: 700;
			letter-spacing: 0em;
			word-break: keep-all;
		}
		.typography-ps-headline-reduced {
			font-size: 56px;
			font-weight: 700;
			letter-spacing: 0em;
			line-height: 1.17;
		}

		.typography-ps-flipbook {
			font-size: 56px;
			line-height: 1.3;
			font-weight: 700;
		}

		.typography-ps-port-label {
			font-size: 19px;
			font-weight: 600;
		}

		.typography-callout,
		.typography-ps-callout {
			font-size: 30px;
			line-height: 39px;
			font-weight: 700;
			letter-spacing: 0.05rem;
		}

		.typography-ps-body {
			font-size: 17px;
			font-weight: 600;
			line-height: 1.35;
		}

		.typography-ps-label-reduced {
			font-size: 14px;
			font-weight: 600;
			line-height: 1.57;
		}

		strong {
			color: var(--highlight-accent);
		}
	}

	.visuallyhidden {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(0 0 99.9% 99.9%);
		overflow: hidden;
		height: 1px;
		width: 1px;
		padding: 0;
		border: 0;
	}

	.WN {
		border: 1px solid pink;

		> * {
			border: 0.5px dashed lightblue;
		}
	}
}

@layer tabnav {
	.tabnav-wrapper {
		width: 87.5%;
		max-width: 1680px;
		margin-inline: auto;
		margin-top: 73px;
		order: 2;
	}

	.tabnav {
		--tabnav-indicator-width: 84px;
		--tabnav-items-offset: 0px;
		--tabnav-indicator-start: 6px;
		--tabnav-mask-active-gradient: none;
		--tabnav-mask-gradient-width: 22px;
		--tabnav-mask-offset: calc(var(--tabnav-paddle-width) + var(--tabnav-mask-gradient-width));
		--tabnav-platter-blur: 20px;
		--tabnav-platter-background: rgb(255, 255, 255);
		--tabnav-paddle-width: var(--tabnav-inner-height);
		--tabnav-paddle-color: rgba(0, 0, 0, 0.56);
		--tabnav-paddle-color-hover: rgba(0, 0, 0, 0.64);
		--tabnav-indicator-background: rgb(29, 29, 31);
		--tabnav-height: 56px;
		--tabnav-inner-height: 44px;
		--tabnav-platter-padding: 6px;
		--tabnav-item-padding: 22px;
		--tabnav-item-color: rgb(0, 0, 0);
		--tabnav-item-color-active: rgb(255, 255, 255);

		position: relative;
		max-width: 100%;
		width: fit-content;
		margin-inline: auto;

		&.tabnav-elevated {
			font-size: 17px;
			line-height: 1.58;
		}

		.tabnav-platter {
			backdrop-filter: blur(var(--tabnav-platter-blur));
			-webkit-backdrop-filter: blur(var(--tabnav-platter-blur));
			height: var(--tabnav-height);
			padding: var(--tabnav-platter-padding);
			background: var(--tabnav-platter-background);
			border-radius: 900px;
			/* overflow: hidden; */
		}

		.tabnav-indicator {
			position: absolute;
			top: var(--tabnav-platter-padding);
			left: var(--tabnav-indicator-start);
			bottom: var(--tabnav-platter-padding);
			width: var(--tabnav-indicator-width);
			height: calc(100% - var(--tabnav-platter-padding) * 2);
			background-color: var(--tabnav-indicator-background);
			border-radius: 990px;
			transition-property: left, width;
			transition-duration: 320ms;
			transition-timing-function: ease-out;
		}

		.tabnav-mask {
			position: relative;
			width: calc(100% + var(--tabnav-mask-offset));
			mask-image: var(--tabnav-mask-active-gradient);
			height: 100%;
			z-index: 1;

			&.tabnav-mask-noscroll {
				display: contents;
				margin-inline-start: 0;
				padding: 0;
			}

			.tabnav-items {
				position: relative;
				display: flex;
				align-items: center;
				width: fit-content;
				height: 100%;
				z-index: 1;
			}

			.tabnav-item {
				white-space: nowrap;
				padding: 0 var(--tabnav-item-padding);
				color: var(--tabnav-item-color);
				height: 100%;
				transition-property: color;
				transition-timing-function: ease-out;
			}

			.tabnav-item-active {
				color: var(--tabnav-item-color-active);
				transition-delay: 160ms;
				transition-duration: 160ms;
				transition-timing-function: ease-in;
			}

			.tabnav-link {
				display: flex;
				align-items: center;
				background: rgba(0, 0, 0, 0);
				color: inherit;
				border: none;
				border-radius: 0;
				opacity: 0.8;
				line-height: inherit;
				font: inherit;
				overflow: visible;
				vertical-align: inherit;

				transition-property: opacity;
				transition-duration: 100ms;
				transition-timing-function: ease-in-out;

				height: 100%;
				cursor: pointer;
			}

			.tabnav-label {
				color: inherit;
			}
		}
	}

	.tabnav:focus-within .tabnav-indicator {
		outline: 2px solid var(--sk-focus-color, #0071e3);
		outline-offset: 2px;
	}

	.item-container {
		display: flex;
		order: 1;
		justify-content: center;

		.gallery-item {
			--p-width: 620px;
			--p-height: 600px;
			--hardware-border-radius: 44px;
			--hardware-width: 214px;

			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
			height: var(--p-height);
			padding-inline: 0;
			z-index: 0;

			.card {
				--sk-tile-background: #cccecb;
				width: 100%;
				overflow: hidden;
			}

			.gallery-item-left {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 70px;
			}

			.gallery-item-right {
				display: flex;
				align-items: center;
				border-radius: 70px;
				opacity: 0;
				transition: inherit;
			}

			picture,
			img {
				max-width: 100%;
			}
		}

		.gallery-item:not(:first-child) {
			position: absolute;
		}

		.gallery-image {
			--p-width: 620px;
			--p-height: 600px;
			width: var(--p-width);
			height: var(--p-height);
		}
	}
}

@layer caption-container {
	.captions-container {
		order: 3;
	}

	.captions-gallery {
		margin-top: 36px;
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin-inline: auto;
	}

	.gallery-caption {
		position: absolute;
		top: 0;
		opacity: 0;
		text-align: center;
		transition-property: opacity;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

		&:first-child {
			position: relative;
		}

		&.current {
			opacity: 1;
			z-index: 1;
		}
	}
}

@layer fnd-flex {
	.row {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
	}

	.coloumn {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
	}
}

@layer fnd-anker {
	a {
		color: rgb(0, 102, 204);
		letter-spacing: inherit;
	}
}

@layer icon {
	.icon::after,
	.icon::before,
	.more::after,
	.more::before {
		font-family: SF Pro Icons;
		display: inline-block;
		color: inherit;
		font-weight: inherit;
		line-height: 1;
		font-size: normal;
		z-index: 1;
		text-decoration: none;
	}

	.more::after {
		content: "ÔåÅ";
		position: relative;
		top: -0.08em;
	}

	.more:not(.icon-before)::after {
		display: inline;
		position: static;
	}
}

@layer container {
	.inline-media-component-container {
		position: relative;
		width: 100%;
		max-width: 1680px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@layer align {
	.justify-content-center {
		justify-content: center;
	}

	.text-align-center {
		text-align: center;
	}
}
