@import url(reset.css);
@import url(basic.css);

:root {
	--point-background: #faf7f4;
	--p-width: 1260px;
	--p-height: 680px;
	--p-margin: 40px;
	--aap-blur: 7px;
	--aap-margin: 30px;
	--aap-min-height: 56px;
	--aap-background-color: rgba(232, 232, 237, 0.7);
	--aap-inner-glow-color: rgba(232, 232, 232, 0.1);
	--aap-text-color: rgb(29, 29, 31);
}

#globalheader {
	all: unset;
}

#globalnav {
	--global-nav-height: 44px;
	--globalnav-background: var(--point-background);

	background: var(--globalnav-background);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	max-height: var(--global-nav-height);
	height: var(--global-nav-height);

	.globalnav-content {
		margin: 0 auto;
		box-sizing: border-box;
		width: 100%;
		max-width: 1024px;
		padding-inline-start: max(22px, 0px);
		padding-inline-end: max(22px, 0px);
		white-space: nowrap;
	}

	.globalnav-list {
		display: flex;
		height: var(--global-nav-height);
		margin: 0 -8px;
		/* Minor Tweak */
		align-items: center;
		justify-content: space-between;
		user-select: none;
		list-style: none;
		cursor: default;
	}

	.globalnav-item {
		height: var(--global-nav-height);
		box-sizing: border-box;
	}

	.globalnav-menu {
		display: contents;
	}

	.globalnav-link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--global-nav-height);
		cursor: pointer;
		padding: 0 8px;
		font-size: 12px;
		text-decoration: none;
		color: black;

		& .globalnav--link-text {
			font-size: 12px;
			font-weight: 300;
			letter-spacing: -0.02em;
		}
	}

	.globalnav-symbol-wrapper {
		height: var(--global-nav-height);

		display: flex;
		padding: 0 8px;
	}

	.globalnav-symbol-regular {
		display: flex;
		align-items: center;
		& svg {
			fill: currentColor;
		}
	}
}

#ac-localnav {
	--localnav-background: rgba(250, 250, 252, 0.8);
	--localnav-keyline-color: rgba(125, 125, 125, 0.5);
	--r-localnav-height: 52px;
	--r-localnav-content-padding: 22px;
	--r-localnav-safe-area-inset-start: env(safe-area-inset-left);
	--r-localnav-safe-area-inset-end: env(safe-area-inset-right);
	--r-localnav-title-vertical-offset: 14px;
	--r-localnav-menu-content-top: 18px;
	--r-localnav-actions-button-space-before: 24px;
	--r-localnav-offsetY: -52px;

	position: sticky;
	z-index: 3;
	top: 0;

	.ac-ln-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		transform: translateY(var(--r-localnav-offsetY));
		transition: transform 400ms ease;
		pointer-events: auto;
		/* z-index: 1; */
	}

	&.is-visible > .ac-ln-wrapper {
		transform: translateY(0px);
	}

	.ac-ln-background {
		position: absolute;
		top: 0;
		inset-inline: 0;
		background-color: var(--localnav-background);
		height: calc(100% - 1px);
		backdrop-filter: saturate(180%) blur(20px);

		&::after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: var(--localnav-keyline-color);
		}
	}

	.ac-ln-content {
		height: var(--r-localnav-height);
		max-width: 980px;
		box-sizing: content-box;
		padding: 0 var(--r-localnav-content-padding);
		padding-inline-start: max(var(--r-localnav-content-padding), var(--r-localnav-safe-area-inset-start));
		padding-inline-end: max(var(--r-localnav-content-padding), var(--r-localnav-safe-area-inset-end));
		position: relative;
		margin: 0 auto;
		color: black;

		&::after {
			clear: both;
		}
	}

	.ac-ln-title {
		font-size: 21px;
		line-height: 1.15;
		font-weight: 600;
		margin: var(--r-localnav-title-vertical-offset) 0;
		float: left;
		> a {
			text-decoration: none;
		}
	}

	.ac-ln-menu {
		float: right;
		font-size: 12px;
		font-weight: 400;
		font-style: normal;
		line-height: 1;
		margin-top: -3px;

		&::after {
			clear: both;
		}
	}

	.ac-ln-menu-tray {
		padding-top: var(--r-localnav-menu-content-top);
		float: left;

		.ac-ln-menu-item {
			float: left;
			margin-inline-start: 24px;
		}

		.ac-ln-menu-link {
			color: inherit;
			line-height: 22px;
			text-decoration: none;
		}
	}

	.ac-ln-actions {
		padding-top: var(--r-localnav-menu-content-top);
		float: left;

		.ac-ln-action-button {
			margin-left: var(--r-localnav-actions-button-space-before);
			float: left;

			.ac-ln-button {
				display: inline-block;
				text-decoration: none;
				color: inherit;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				padding-block: 3px;
				padding-inline: 10px;
				border-radius: 980px;
				background-color: rgb(0, 113, 227);
				color: rgb(255, 255, 255);
				border: 1px solid transparent;
			}

			.ac-ln-action-product {
				position: absolute;
				clip: rect(1px, 1px, 1px, 1px);
				clip-path: inset(0 0 99.9% 99.9%);
				overflow: hidden;
				height: 1px;
				width: 1px;
				top: auto;
				left: auto;
				margin: 0;
				padding: 0;
			}
		}
	}
}

.section-welcome {
	--welcome-background: var(--point-background);
	--welcome-height: 1400px;

	background: var(--point-background);
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 880px;
	height: 105vh;
	margin-top: -5vh;
	overflow: hidden;

	.welcome-media {
		overflow: hidden;
		position: absolute;
		display: grid;
		place-content: center;
		max-width: 1440px;
		width: 100%;
		height: var(--welcome-height);
		margin-top: 120px;
		isolation: isolate;
	}

	.media-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: var(--welcome-height);
	}

	.media-video {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		pointer-events: none;
	}

	.media-picture {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		display: none;
	}
}

.detail-cta_link {
	font-size: inherit;
	line-height: 26px;
}

.marquee-container {
	--marquee-transition: opacity 0.85s ease-in, transform 1.05s cubic-bezier(0.22, 1, 0.36, 1);

	position: relative;
	top: 230px;
	width: 600px;
	opacity: 0;
	animation: marqueeIsLoaded-translate 1.05s cubic-bezier(0.22, 1, 0.36, 1), marqueeIsLoaded-opacity 0.8s ease-in;
	animation-delay: 3s;
	animation-fill-mode: forwards;

	.marquee-header {
		width: fit-content;
		align-items: center;
		justify-content: center;
		margin-inline: auto;
		margin-top: 25px;
		display: flex;
	}

	.marquee-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.marquee {
		width: 100%;
		text-align: center;
		padding: 15px 0;
		display: flow-root;
	}

	.marquee-pricing {
		padding-bottom: 0;
	}

	.marquee-milestone {
		padding-top: 0;
	}

	.marquee-detail {
		margin-top: 0;
	}

	.detail-pricing {
		font-weight: 600;
	}
}

.viewport-content {
	margin-inline: auto;
	width: 87.5%;
	max-width: 1680px;
}

.viewport-content {
	width: 980px;
}

.announcement-banner {
	--height: 320px;
	overflow: hidden;
	position: relative;
	margin-top: calc(var(--height) / 2);
	height: var(--height);
	width: 100%;
	display: flex;
	border-radius: 28px;
	background: #000;
	box-sizing: content-box;
}

.banner {
	.banner-card-row {
		--padding: clamp(0px, 6.25vw, 120px);
		height: 100%;
		padding-inline-start: var(--padding);
		align-items: center;
	}

	.banner-card-text-column {
		color: white;
		margin-block: auto;

		.banner-card-header {
			font-size: 32px;
			line-height: 1.2;
			max-width: 15rem;
		}

		.banner-card-ctas {
			gap: 33px;
		}
	}
	.banner-card-image-column {
		display: flex;
		flex-grow: 1;
		flex-basis: 0;

		.banner-card-image {
			margin-inline: auto;
			display: block;
			width: 468px;
			height: 320px;
			background: inherit;
		}
	}
}

@keyframes marqueeIsLoaded-translate {
	from {
		transform: translateY(50px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes marqueeIsLoaded-opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.section-highlights {
	position: relative;
	margin-block: 160px 60px;
	padding-bottom: 200px;
}

.section-header {
	display: flex;
	gap: 20px;
	padding-bottom: 80px;

	.section-header-headline {
		max-width: 75%;
		min-width: 50%;
		flex-grow: 1;

		font-size: 52px;
		line-height: 1.17;
		font-weight: 600;
	}
}

.media-gallery-wrapper {
	--gallery-height: 628px;

	width: 100%;
	margin: 0 auto;

	.media-gallery {
		height: var(--gallery-height);
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 30px;
		scrollbar-width: none;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;

		.item-container.card-set {
			display: grid;
			gap: 20px;
			grid-auto-flow: column;
			width: fit-content;
			padding: 0 min(1680px, calc((100vw - 87.5vw) / 2));
		}

		.gallery-item {
			display: flex;
			position: relative;
			width: min(87.5vw, 1680px);
			background-color: rgb(245, 245, 247);
			min-height: var(--gallery-height);
			scroll-snap-align: center;
			list-style-type: none;
			overflow: hidden;

			.caption-container {
				z-index: 5;
				display: flex;
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.caption {
				margin: var(--p-margin);
			}

			.media-container {
				position: absolute;
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
			}

			.overview-highlights {
				height: 100%;
				width: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.overview-video {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 3;
				object-fit: cover;
			}
		}
	}
}

.media-controller-wrapper {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;

	.access-controller {
		z-index: 3;

		--dotnav-background: rgba(0, 0, 0, 0.42);
		--dotnav-active: rgba(0, 0, 0, 0.8);
		--dotnav-size: 8px;

		position: sticky;
		display: flex;
		align-items: center;
		margin-top: var(--aap-margin);
		margin-bottom: 100px;
		will-change: transform;
		bottom: 30px;
		/* pointer-events: auto; */
		z-index: 9999;

		.controller-background {
			display: flex;
			box-sizing: border-box;
			justify-content: space-between;
			min-height: var(--aap-min-height);
			position: relative;
			pointer-events: auto;

			backdrop-filter: blur(var(--aap-blur));
			background-color: var(--aap-background-color);
			border-radius: 32px;
			box-shadow: inset 0 0 1px var(--aap-inner-glow-color);
			line-height: 0;
		}

		.controller-container {
			transition: transform 200ms;
			display: flex;
			&:hover {
				transform: scale(1.1);
			}
		}

		.controller-play-pause {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 14px;
		}

		.button-play-pause {
			width: var(--aap-min-height);
			height: var(--aap-min-height);
			border: none;
			background: none;
			position: relative;
			top: 1px;
			left: 2px;
			cursor: pointer;
		}

		.dotnav-wrapper {
			padding: 0 24px;
			display: flex;
			align-items: center;
		}

		.dotnav-items {
			margin: 0;
			padding: 0;
			display: inline-flex;
			justify-content: center;
			gap: 16px;
		}

		.dotnav-item {
			--dotnav-size: 8px;
			--dotnav-size-active: 50px;
			--dotnav-color: rgba(0, 0, 0, 0.4);
			--dotnav-color-progress: rgba(0, 0, 0, 0.7);
			--dotnav-active-factor: 0%;

			width: var(--dotnav-size);
			height: var(--dotnav-size);
			background: var(--dotnav-color);
			transition: width 400ms ease;
			opacity: 0;
			border-radius: 99px;
			overflow: hidden;
			cursor: pointer;
		}
		.dotnav-item-active {
			width: var(--dotnav-size-active);
		}

		.dotnav-item-active:after {
			content: "";
			width: var(--dotnav-size-active);
			height: var(--dotnav-size);
			display: block;
			width: var(--dotnav-size-active);
			background: var(--dotnav-color-progress);
			transform: translateX(var(--dotnav-progress-factor));
			border-radius: 32px;
		}
	}
}

.section-closer-look {
	padding-bottom: 160px;

	img {
		max-width: 100%;
	}

	.slide-gallery-container {
		display: flex;
		flex-flow: column nowrap;
	}

	.slide-gallery-scroll {
		--slide-gallery-height: 625px;
		scroll-behavior: smooth;
		scrollbar-width: none;
		overflow-y: hidden;
		overflow-x: scroll;

		.slide-gallery-items {
			display: grid;
			gap: 20px;
			grid-auto-flow: column;
			width: fit-content;
			padding: 0 max(6.25vw, calc((100vw - 87.5vw) / 2));
		}

		.slide-gallery-item {
			display: flex;
			scroll-snap-align: center;
			min-width: 680px;
			width: min(1680px, 87.5vw);
		}

		.slide-gallery-bento {
			display: grid;

			height: 100%;
			width: 100%;
			gap: 20px;
		}

		.item-bento {
			overflow: hidden;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		/*  */
	}
	.slide-gallery-paddlenav {
		--paddle-size: 36px;

		width: min(1680px, 87.5vw);
		padding-top: 48px;
		display: flex;
		justify-content: flex-end;
		margin: 0 auto;

		.paddles {
			display: flex;
			gap: 18px;
		}

		.paddle-button {
			display: flex;
			border: none;
			background: var(--aap-background-color);
			width: var(--paddle-size);
			height: var(--paddle-size);
			justify-content: center;
			align-items: center;
			transition: transform ease 200ms, opacity ease 200ms;
			padding: 14px;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.section-sticky-container {
	margin-top: 100px;
}

.section-design {
	position: relative;
	padding-top: 60px;
	padding-bottom: 160px;
	background-color: rgb(245, 245, 247);

	.intro-sticky-container {
		position: relative;
		height: 180vh;
		z-index: 2;

		.intro-content-container {
			width: 100%;
		}

		.viewport-content {
			width: 980px;
		}

		.is-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}

	.typography-ps-intro {
		text-align: center;
		margin-inline: auto;
	}

	.hardware-sticky-container {
		position: absolute;
		height: 634vh;
		inset: 0;
		z-index: 3;
		pointer-events: none;

		.hardware-container {
			--size: 620px;
			--translate: 142px;
			--scale: 1.7;

			width: var(--size);
			height: var(--size);
			position: absolute;
			margin: 0 auto;
			margin-top: 150px;
			top: 0;
			left: 0;
			right: 0;

			video {
				width: 100%;
				height: 100%;
			}
		}
	}

	.image-tout-container {
		position: relative;
		margin-top: 56px;

		.tout-container {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			left: 722px;
			right: 0;
			margin: 0 auto;
			width: 300px;
			height: 300px;

			.tout-copy {
				margin-top: 13px;
				color: #6e6e73;
			}
		}

		.tout-fallback {
			display: flex;
			justify-content: center;

			.dimension-container {
				width: 300px;
				height: 300px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				margin: 18px auto 0;
				left: 0;
				right: 0;

				.dimension-width,
				.dimension-height {
					color: #86868b;
					font-size: 70px;
					font-weight: 700;
					position: absolute;

					&::after {
						/* display: block; */
						position: absolute;
						content: "cm";
					}
				}

				.dimension-width {
					margin-top: 420px;
					margin-left: -80px;
				}

				.dimension-height {
					transform: rotate(-90deg);
					margin-top: 100px;
					margin-left: -418px;
				}
			}
		}
	}

	.port-sticky-container {
		height: 450vh;
		position: relative;
		z-index: 1;

		.port-container {
			margin-inline: auto;
			margin-top: calc(50vh - 310px);
			height: 620px;
			width: 524px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: pink solid 1px;

			.flipbook {
				position: absolute;
				align-self: flex-start;
				margin-top: 120px;
				margin-left: 56px;
				height: 620px;

				.flipbook-item {
					white-space: nowrap;
					margin-top: -5px;
				}

				.flipbook-item-back {
					position: relative;
					top: -70px;
				}
			}

			.port-label {
				position: absolute;
				margin-top: 275px;
			}
		}
	}

	.thermals-container {
		.image-container-thermals {
			--sk-tile-background: rgb(255, 255, 255);
			background: var(--sk-tile-background);
			grid-column: span 12;
			display: flex;
			justify-content: center;
			margin-top: 60px;
			height: 600px;
		}

		.inline-media-component-container {
			--media-width: 1034px;
			--media-height: 600px;
			max-width: unset;
			display: grid;
			place-content: center;

			.video-wrapper {
				width: var(--media-width);
				height: var(--media-height);
				display: grid;
				position: relative;
				isolation: isolate;
				overflow: hidden;
			}
		}
	}
}

.section-lifestyle {
	--background-accent: #faf7f4;
	--highlight-accent: #5b2be5;
	position: relative;

	.lifestyle-slides-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.lifestyle-slides {
		position: relative;
		--p-width: 2419px;
		--p-height: 1082px;

		max-width: 100%;
		width: var(--p-width);
		height: var(--p-height);
	}

	.lifestyle-slide {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
		z-index: 1;
		/* overflow: scroll; */
		/* position: absolute; */
	}

	.overview-performance {
		display: block;
		--p-width: 2419px;
		--p-height: 1082px;
		width: 2419px;
		height: var(--p-height);
		overflow: hidden;
	}
}

.section-performance {
	--highlight-accent: #5b2be5;
	--background-accent: #faf7f4;
	--animation-offset-x: 400px;
	--animation-offset-scale: 1.33;

	.overflow-container {
		max-width: 100%;
	}

	.animation-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 80px;
		overflow: hidden;

		.hardware-labels {
			display: flex;
			justify-content: center;
			margin-top: 18px;
		}
		.typography-ps-label-reduced {
			font-weight: 500;
			color: #6e6e73;
		}

		.centering-container {
			display: flex;
			gap: 16px;
		}

		.scaled-hardware {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			width: 715px;
			height: 564px;

			transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1), opacity 1.4s cubic-bezier(0.25, 1, 0.5, 1);
			transform-origin: center 25%;

			&.left {
				transform: scale(var(--animation-offset-scale)) translateX(calc(var(--animation-offset-x) * -1)) translateY(40px);
				opacity: 0;
			}

			&.animate {
				transform: scale(1) translateX(0);
				opacity: 1;
			}

			.hardware-container {
				display: flex;
				align-items: center;
				justify-content: center;
				transform-origin: center;
				position: relative;
				scale: 0.65;
			}

			.overview-performance-hardware {
				--p-width: 1106px;
				--p-height: 868px;
				width: var(--p-width);
				height: var(--p-height);
			}

			.mac-mini {
				--p-width: 1114px;
			}

			.overview-performance-screen {
				--p-width: 1054px;
				--p-height: 592px;
				width: var(--p-width);
				height: var(--p-height);
				display: block;
				position: absolute;
				top: 26px;
			}

			picture,
			img {
				max-width: 100%;
			}
		}
	}

	.section-ps-intro {
		margin-top: 90px;
	}

	.tout-container {
		display: flex;
		margin-top: 68px;
		flex-wrap: wrap;
		justify-content: space-between;

		.tout {
			--tout-container-width-1: 334px;
			--tout-container-width-2: 214px;
			--tout-container-width-3: 252px;
			display: flex;
			width: 100%;

			&:nth-child(1) {
				max-width: var(--tout-container-width-1);
			}
			&:nth-child(2) {
				max-width: var(--tout-container-width-2);
			}
			&:nth-child(3) {
				max-width: var(--tout-container-width-3);
			}
		}
	}

	.gallery-performance {
		margin: 150px auto 0;
		display: flex;
		justify-content: center;
		flex-direction: column;

		.tabnav-wrapper {
			margin-top: 48px;
		}

		.viewport-content {
			order: 3;
		}
	}
}

.section-macos {
	--background-accent: #cfd9e3;
	--highlight-accent: #0031ea;
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */

	.overview-macos {
		--p-width: 1856px;
		--p-height: 758px;
		--image-offset: 380px;

		width: var(--p-width);
		height: var(--p-height);
		position: relative;
		inset-inline-start: calc(50% - var(--p-width) / 2 - var(--image-offset));
		margin-bottom: 74px;
		order: -1;
	}

	.viewport-content {
		.section-ps-headline-container {
			flex-basis: 33.33%;
		}

		.section-ps-intro {
			flex-basis: 50%;
			max-width: 50%;
			margin-inline-start: 16.67%;

			& p:nth-last-child(1) {
				margin-top: 0.8em;
				color: inherit;
			}

			.icon-copy {
				columns: var();
			}
		}
	}
}

.section-apple-intelligence {
	--writing-tools-bg: #0778d1;

	position: relative;
	background-color: rgb(245, 245, 247);

	.apple-intelligence-media {
		position: absolute;
		width: 100%;
		height: 450px;
		top: 0;
		inset-inline: 0;
		/* margin: 0 auto; */
	}

	.video-wrapper {
		display: grid;
		position: relative;
		width: 100%;
		height: 100%;
		isolation: isolate;
		overflow: hidden;
		justify-content: center;

		video {
			display: block;
			/* position: absolute; */
			top: 0;
		}
	}

	.grid-item {
		overflow: hidden;
	}

	#apple-intelligence-video {
		object-fit: fill;
	}

	.apple-intelligence-intro {
		display: flex;
		flex-direction: column;
		align-items: center;

		.section-ps-intro {
			p:nth-last-child(1) {
				margin-top: 0.8em;
			}
		}

		.section-ps-headline {
			margin-top: 0;
		}

		.section-ps-headline-container,
		.section-ps-intro {
			text-align: center;
		}
	}

	.apple-intelligence-bentos {
		margin-top: 82px;

		.grid-item {
			isolation: isolate;
			--copy-padding: 40px;
			--copy-max-width: 600px;
			position: relative;

			.card-contents {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				box-sizing: content-box;
			}

			.card-copy {
				position: relative;
				z-index: 2;
				align-self: flex-start;
				width: calc(100% - var(--copy-padding) * 2);
				width: 100%;
				padding: var(--copy-padding);

				--num-lines: 4;
				--line-height: 29px;
				margin-bottom: calc(var(--line-height) * var(--num-lines) * -1 + var(--copy-padding) * -2);

				p {
					max-width: calc(var(--copy-max-width) - var(--copy-padding) * 2);
				}
			}
		}

		.grid-item-writing-tools {
			grid-column: span 12;
			--sk-tile-background: linear-gradient(180deg, var(--writing-tools-bg) 20%, transparent 80%);

			.card-contents {
				justify-content: flex-start;
			}

			.card-copy {
				color: #f5f5f7;
			}
		}

		.grid-item-image-playground {
			grid-column: span 6;
			--sk-tile-background: rgb(255, 255, 255);
		}

		.grid-item-memory-movie {
			grid-column: span 6;
			color: #f5f5f7;
			--sk-tile-background: rgb(255, 255, 255);
		}

		.image-writing-tools {
			--p-width: 1260px;
			--p-height: 657px;

			width: var(--p-width);
			height: var(--p-height);
			display: block;
		}

		.apple-intelligence-playground-video {
			--media-width: 620px;
			--media-height: 600px;
			display: grid;
		}

		.video-wrapper {
			width: var(--media-width);
			height: var(--media-height);

			video {
				display: block;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}

		.image-memory-movie {
			--p-height: 600px;
			--p-width: 620px;

			display: block;
			background-color: pink;
			width: var(--p-width);
			height: var(--p-height);

			img {
				width: inherit;
				height: inherit;
			}
		}
	}

	.subsection-privacy {
		.subsection-headline-container {
			text-align: center;
			margin-top: 112px;
			margin-inline: auto;

			.apple-intelligence-privacy-video {
				--media-width: 78px;
				--media-height: 106px;
				margin-inline: auto;
				max-width: var(--media-width);

				.video-wrapper {
					width: var(--media-width);
					height: var(--media-height);
				}
			}

			.subsection-headline {
				margin-top: 4px;

				strong {
					color: transparent;
					background-image: url(../src/imgs/apple_intelligence_privacy_gradient_large.jpg);
					background-clip: text;
					background-size: cover;
				}
			}
		}

		.subsection-copy {
			margin-top: 42px;
			display: flex;

			.column {
				--column-width: 80px;
				padding-inline-end: calc(var(--column-width) / 2);
			}
		}

		.video-wrapper {
			display: block;
		}
	}
}

.section-mac-iphone {
	--highlight-accent: #f35a7b;

	.tabnav-gallery {
		margin-top: 106px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.item-container {
			order: 1;

			.gallery-item {
				grid-template-columns: 1fr;

				.card {
					display: flex;
					opacity: inherit;
				}
				img {
					width: 100%;
				}
			}
		}

		.tabnav-wrapper {
			order: 2;

			.tabnav {
				--tabnav-indicator-width: 142px;
				--tabnav-indicator-start: 6px;
				--tabnav-platter-background: rgb(232, 232, 237);
			}

			.tabnav-item {
				cursor: pointer;
			}
		}

		.caption-container {
			order: 3;
		}
	}
}

.section-accessories {
	--background-accent: #cbcecc;
	--highlight-accent: #0e926f;

	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	.overview-accessories-accessories {
		--p-width: 1933px;
		--p-height: 1024px;
		order: -1;
	}

	.accessories-intro {
		margin-top: -337px;

		.section-ps-headline-container {
			text-align: center;
		}

		.section-ps-intro {
			text-align: center;

			& p:nth-last-child(1) {
				margin-top: 0.8em;
			}
		}
	}
}

.section-upgraders {
	.section-ps-headline-container {
		text-align: center;
	}

	/* .viewport-content {
		width: 980px;
	} */

	.upgraders-content {
		margin-top: 50px;

		.form-tooltip-wrapper {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			.upgraders-navigation-label {
				color: #6e6e73;
			}

			.form-tooltip {
				position: relative;
				height: 1.1rem;
				display: inline-block;
				color: #1d1d1f;
			}

			.form-tooltip-after {
				margin-inline-start: 0.47rem;
			}

			.form-tooltip-button {
				display: block;

				.form-icons-info {
					display: block;
					background-size: 19px;
					width: 19px;
					height: 19px;
					background-image: url(../src/symbols/info.svg);
				}
			}

			.form-tooltip-info {
				line-height: 1.4;
				background-color: #e8e8ed;
				font-size: 14px;
				width: 15rem;
				border-radius: 12px;
				padding: 0.7rem 1rem 0.77rem;
				z-index: 1;
				bottom: 2.3rem;
				/* display: none; */
				position: absolute;

				&::after {
					position: absolute;
					content: "";
					width: 0.9rem;
					height: 0.9rem;
					border-bottom-right-radius: 2px;

					bottom: -0.2rem;
					background-color: #e8e8ed;
				}

				.form-tooltip-title {
					font-weight: 600;
				}

				.form-tooltip-content {
					margin-top: 6px;
				}
			}

			.form-tooltip-pointer-middle {
				inset-inline-start: -6.53rem;

				&::after {
					left: 50%;
					bottom: -0.45rem;
					transform: translateX(-50%) rotate(45deg);
				}
			}
		}

		.upgraders-gallery {
			position: relative;
			margin-top: 20px;

			.dropdown {
				margin-bottom: 64px;
				box-sizing: border-box;
			}

			.form-dropdown-wrap {
				display: flex;
				justify-content: center;
			}

			.form-dropdown {
				min-width: 264px;
				position: relative;

				.form-dropdown-select {
					height: 42px;
					padding-inline: 22px 42px;
					border-width: 1px;
					border-radius: 10rem;
					background-color: rgb(255, 255, 255);
					color: #1d1d1f;
					line-height: 1.28;
					cursor: pointer;
					appearance: none;
				}

				.form-dropdown-chevron {
					position: absolute;
					top: 50%;
					inset-inline-end: 14px;
					transform: translateY(-50%);

					&::after {
						content: "";
						font-size: 20px;
						line-height: 1.17;
						font-weight: 600;
						display: inline-block;
					}
				}
			}

			.upgraders-gallery-subheader {
				font-size: 24px;
				font-weight: 600;
				text-align: center;
				margin-bottom: 40px;
			}

			.item-container {
				height: 630px;
				width: 100%;
				margin-top: 40px;
				position: relative;
			}

			.gallery-item {
				position: absolute;
				height: auto;
				inset: 0;
				margin: 0;
				overflow: hidden;
				background-color: #fff;
			}

			.bento-grid {
				display: grid;
				gap: 20px;
				grid-template-areas:
					"bento-1 bento-3"
					"bento-1 bento-4"
					"bento-2 bento-4";
				grid-template-columns: repeat(2, minmax(0, 1fr));
				min-width: 200px;

				.bento-item {
					position: relative;
					display: flex;
					flex-direction: column;
					overflow: hidden;
					border-radius: 28px;
					padding: 40px;
					z-index: 1;
					margin: 0;
					background-color: #fff;
					transition: opacity 400ms ease;

					&.size {
						background-color: #f8f2ec;
						position: relative;
					}

					.copy-wrapper {
						margin-top: 21px;

						.bento-copy-reduced {
							line-height: 1.25;
							font-size: 28px;
							font-weight: 600;
						}
					}

					.bento-item-image-wrapper {
						display: flex;
						justify-content: center;
					}

					&:nth-child(1) {
						grid-area: bento-1;
						min-height: 380px;
					}
					&:nth-child(2) {
						grid-area: bento-2;
						min-height: 230px;

						.copy-wrapper {
							margin: 0;
							z-index: 1;
						}

						.image-wrapper {
							margin-inline-end: 20px;
						}

						&.graphics {
							background-color: #dad3dd;
						}
					}
					&:nth-child(3) {
						grid-area: bento-3;
						min-height: 230px;
						background-color: #cfd8e3;

						.copy-wrapper {
							margin: 0;
							z-index: 1;
						}

						.image-wrapper {
							margin-inline-end: 20px;
						}
					}
					&:nth-child(4) {
						grid-area: bento-4;
						/* min-height: 380px; */
						background-image: url(../src/imgs/upgraders_intel_2_large.jpg);
						background-size: 480px 380px;
						color: #f5f5f7;
						justify-content: flex-end;

						.bento-item-image-wrapper {
							justify-content: flex-start;
						}

						img {
							width: var(--p-width);
							height: var(--p-height);
							--p-width: 59px;
							--p-height: 106px;
						}
					}
				}
				.bento-item-inline {
					display: flex;
					align-items: center;
					gap: 6px;
				}
			}
		}
	}

	.apple-intelligence-glow {
		--igradient: linear-gradient(100deg, #00d0ff, #09f 20%, #c95eff 42%, #ff2569 63%, #ff8300 83%, #ffb000);
		position: absolute;
		inset: 0;
		border: 0;
		z-index: 0;
		filter: blur(9px);
		opacity: 0.6;

		&::after {
			--bg-size: calc(100% + 14px);
			border: 8px solid transparent;
			pointer-events: none;
			content: "";
			position: absolute;
			inset: 0;
			z-index: 0;
			background: var(--igradient) 50% / var(--bg-size) var(--bg-size);
			mask: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)), linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
			mask-clip: padding-box, border-box;
			mask-composite: intersect;
		}
	}

	.overview-upgraders-gallery-intel {
		--p-width: 321px;
		--p-height: 187px;

		width: var(--p-width);
		height: var(--p-height);
	}

	.overview-upgraders-gallery-icon-gaming {
		display: block;
		width: var(--p-width);
		height: var(--p-height);
		--p-width: 90px;
		--p-height: 106px;
	}

	@layer upgraders-typography {
		.typography-ps-upgraders-headline {
			line-height: 1.15;
			letter-spacing: 0;

			font-size: 80px;
			font-weight: 700;
		}

		.typography-upgraders-copy-reduced {
			font-size: 21px;
			font-weight: 600;
			letter-spacing: 0.011em;
		}
	}

	.bento-item[data-target="true"] {
		opacity: 0;
		z-index: 0;
	}

	.current {
		z-index: 5;
	}

	.current .bento-item[data-target="true"] {
		opacity: 1 !important;
		z-index: 1;
	}

	.trade-in {
		--width: 916px;

		display: flex;
		align-items: center;
		width: var(--width);
		margin-top: 60px;
		gap: 94px;
		color: #6e6e73;

		.overview-upgraders-logo-trade-in {
			display: block;
			width: var(--p-width);
			height: var(--p-height);
			--p-width: 151px;
			--p-height: 31px;

			& img {
				width: 100%;
			}
		}

		.trade-in-content {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				height: 100%;
				width: 1px;
				background-color: #424245;
				left: -47px;
				top: 0;
			}

			.trade-in-copy {
				line-height: 1.3;
				font-size: 21px;
				font-weight: 600;
				margin-bottom: 0.4em;
			}
		}
	}
}

.section-values {
	--highlight-accent: #000;

	.section-ps-headline-container {
		text-align: center;
	}

	.typography-ps-headline-super {
		white-space: nowrap;
		font-size: 68px;
	}

	.section-ps-intro {
		margin-bottom: 63px;
		text-align: center;
	}

	.values-copy {
		gap: 8.333%;
		color: #6e6e73;
	}

	.value-column {
		flex: 1;
	}

	.values-link {
		display: inline-block;
		margin-top: 25px;
	}

	.values-icon {
		--p-width: 40px;
		--p-height: 56px;

		display: block;
		width: var(--p-width);
		height: var(--p-height);
		margin-bottom: 15px;

		img {
			max-width: 100%;
		}
	}
}

.section-incentive {
	background-color: rgb(245, 245, 247);
	padding-bottom: 160px;
	overflow: hidden;

	.section-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 80px;
		gap: 20px;
	}

	.scroll-gallery {
		--paddlenav-height: 36px;
		--paddlenav-sitcky-offset: 0px;
		--paddlenav-padding: 48px;
		--responsive-content-width: 87.5%;
		--responsive-content-max-wdith: 1680px;
		--responsive-content-clamped-width: min(var(--responsive-content-max-wdith), var(--responsive-content-width));
		--responsive-gutter-width: calc(50% - var(--responsive-content-clamped-width) / 2);

		.gallery-item {
			scroll-snap-align: start;
		}

		position: relative;
		margin-top: 0;
		padding-bottom: calc(var(--paddlenav-padding) + var(--paddlenav-height));

		.scroll-container {
			position: relative;
			overflow-x: scroll;
			overflow-y: hidden;
			scrollbar-width: none;
			scroll-behavior: smooth;
			scroll-snap-type: x mandatory;

			scroll-padding: var(--responsive-gutter-width);
			padding: 10px 0 30px;
			margin: -10px 0 -30px;
		}

		.item-container {
			width: var(--responsive-content-clamped-width);
			min-width: fit-content;
			padding: 0 var(--responsive-gutter-width);
			display: block;
		}

		.card-set {
			--sk-cssgrid-column-gutter-outer: 0;
			margin: 0;
			grid-auto-flow: column;
			grid-template-columns: unset;
			grid-auto-columns: 1fr;

			.tile-rounded {
				border-radius: 28px;
			}
		}

		.icon-card {
			position: relative;
			min-height: 217px;
			height: 100%;
			min-width: unset;
			width: 405px;
			transition: transform 200ms ease;

			.tile-content {
				z-index: 1;
				/* padding: 28px 76px 52px 32px; */
				padding: 60px 8.333%;
			}

			.icon-card-content {
				.icon-card-body-copy {
					margin-top: 0.8em;
				}

				.typography-icon-card-body-copy {
					font-size: 17px;
					font-weight: 400;
				}

				.typography-icon-card-headline {
					font-size: 28px;
					font-weight: 600;
					line-height: 1.25;
				}
			}

			.card-control {
				position: absolute;
				inset: 0;
				cursor: pointer;
				border-radius: 28px;

				.tile-button-wrapper {
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					width: 44px;
					height: 44px;
					right: 16px;
					bottom: 16px;

					.tile-button {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						background-color: rgb(29, 29, 31);
						color: rgb(255, 255, 255);
					}
				}
			}
		}

		.icon-card:hover {
			transform: scale(1.05);
		}
	}

	.scroll-gallery-paddlenav {
		--paddlenav-height: 36px;
		--paddlenav-sticky-offset: 0px;
		--paddlenav-padding: 48px;
		--sk-paddlenav-diameter: 36px;
		--sk-paddlenav-arrow-color: rgba(0, 0, 0, 0.56);
		--sk-paddlenav-arrow-color-hover: rgba(0, 0, 0, 0.64);
		--sk-paddlenav-arrow-color-active: rgba(0, 0, 0, 0.64);
		--sk-paddlenav-background: rgba(210, 210, 215, 0.64);
		--sk-paddlenav-background-hover: rgba(223, 223, 227, 0.6976);
		--sk-paddlenav-background-active: rgba(193, 193, 198, 0.6544);
		--responsive-content-max-width: 1680px;
		--responsive-content-width: min(1680px, 87.5%);
		--responsive-gutter-width: calc(50% - var(--responsive-content-width) / 2);
		--responsive-sticky-gutter-width: calc(50vw - min(var(--responsive-content-max-width), 87.5vw) / 2);

		position: absolute;
		display: flex;
		justify-content: end;
		inset-inline-start: var(--responsive-gutter-width);
		width: var(--responsive-content-width);
		height: var(--paddlenav-height);
		transition: opacity 0.2s ease-out;
		margin-top: var(--paddlenav-padding);

		ul {
			display: flex;
			gap: 18px;
		}

		.paddlenav-arrow {
			position: relative;
			inset-inline: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--sk-paddlenav-background);
			color: var(--sk-paddlenav-arrow-color);
			width: var(--sk-paddlenav-diameter);
			height: var(--sk-paddlenav-diameter);
			border-radius: var(--sk-paddlenav-diameter);
			font-style: normal;
			overflow: hidden;
			text-align: center;
			line-height: 1;
			opacity: 0.8;
			transition: scale 100ms linear, color 100ms linear, opacity 100ms linear;

			&:hover {
				opacity: 1;
				transform: scale(1.05);
			}
		}
	}
}

.section-contrast {
	background-color: rgb(245, 245, 247);
	padding-bottom: 216px;
	display: grid;

	.viewport-content {
		width: 87.5vw;
		max-width: 1680px;
	}

	.section-header {
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 80px;
		gap: 80px;
	}

	.contrast-container {
		display: flex;
		justify-content: center;
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.contrast-alignment-container {
		display: flex;
		flex-direction: column;
	}
	.product-tile-set {
		display: flex;
		gap: 20px;
	}
	.product-tile {
		--product-tile-padding: 28px;
		--product-tile-width: 372px;
		--badge-height: 16px;
		--badge-margin: 12px;
		--headline-height: 35px;
		--headline-margin: 4px;
		--subheading-height: 27px;
		--subheading-margin: 12px;
		--positioning-height: 54px;
		--positioning-margin: 12px;
		--price-height: 27px;
		--price-margin: 12px;
		--touts-row-1-height: minmax(79px, max-content);
		--touts-row-2-height: minmax(87px, max-content);
		--touts-row-3-height: minmax(109px, max-content);
		--touts-row-4-height: minmax(87px, max-content);
		--product-id-height: calc(var(--badge-height) + var(--badge-margin) + var(--headline-height) + var(--headline-margin) + var(--subheading-height));
		--product-id-row: minmax(var(--product-id-height), max-content);

		text-align: center;
		display: flex;
		flex-direction: column;
		flex: none;
		width: var(--product-tile-width);

		&.has-price-row {
			--price-row: minmax(calc(var(--price-height) + var(--price-margin)), max-content);
		}

		&.has-positioning-row {
			--positioning-row: minmax(calc(var(--positioning-height) + var(--positioning-margin)), max-content);
		}

		&.has-subheading-row {
			/* --subheading-row: minmax(calc(var(--subheading-row) + var(--subheading-margin))); */
			--subheading-row: auto;
		}

		&.has-headline-row {
			--headline-row: auto;
		}

		&.has-badge-row {
			--badge-row: minmax(calc(var(--badge-height) + var(--badge-margin)), max-content);
		}

		&.has-colorindicator-row {
			--colorindicator-row: calc(14px + var(--colorindicator-row));
		}

		&.has-image-ling-row {
			--image-link-row: auto;
		}

		.product-tile-header {
			display: grid;
			grid-template-rows: var(--image-link-row) var(--colorindicator-row), var(--product-id-row);
			grid-template-areas:
				"image-link"
				"colorindicator"
				"product-id";

			.product-tile-product-id {
				grid-area: product-id;
				display: grid;
				grid-template-rows: var(--headline-row) var(--subheading-row);
				grid-template-areas:
					"headline-group"
					"subheading";
			}
			.product-tile-image-link {
				grid-area: image-link;
			}
			.colorindicator {
				margin-bottom: 27px;
			}
		}

		.product-tile-body {
			display: grid;
			grid-template-rows: var(--positioning-row) var(--price-row);
			grid-template-areas:
				"positioning"
				"price";

			.product-tile-positioning {
				grid-area: positioning;
				margin-top: var(--positioning-margin);
				margin-inline: auto;
			}
			.product-tile-price {
				grid-area: price;
				margin-top: var(--price-margin);
				margin-inline: auto;
			}
		}

		.product-tile-ctas {
			margin-bottom: 54px;
			margin-top: 38px;
			--button-row-height: 42px;
		}

		.product-tile-ctas-stacked {
			display: grid;
			gap: 19px;
			align-items: center;
			justify-content: center;
			grid-template-rows: var(--button-row-height) auto;
		}

		.product-tile-padding {
			padding-inline: var(--product-tile-padding);
		}

		.tout-group {
			position: relative;
			display: grid;
			padding-top: 52px;
			padding-inline: var(--product-tile-padding);
			grid-template-rows: var(--touts-row-1-height) var(--touts-row-2-height) var(--touts-row-3-height) var(--touts-row-4-height);
			gap: 40px;
			text-align: center;
		}

		.typography-product-tile-positioning {
			font-size: 17px;
			font-weight: 400;
		}

		.typography-product-tile-subheading {
			font-size: 17px;
			font-weight: 600;
		}

		.typography-tout-copy {
			font-size: 12px;
			font-weight: 400;
			line-height: 1.4;
		}
	}
}

.section-index {
	background: #fafafc;
	position: relative;

	.viewport-content {
		width: 87.5vw;
		max-width: 1680px;
	}

	.index-title {
		margin-bottom: 53px;
		letter-spacing: 0;
	}

	.index-groups {
		display: flex;
		flex-wrap: wrap;

		.index-group {
			max-width: 20%;
			padding-inline: 0 44px;

			&:first-child {
				max-width: 40%;
				padding-inline: 0 88px;
			}
		}

		.index-list {
			color: rgb(29, 29, 31);
		}

		.index-item-elevated {
			margin-bottom: 14px;

			& + .index-item-base {
				margin-top: 28px;
				margin-bottom: 14px;

				&:last-of-type {
					margin: 0;
				}
			}
		}

		.index-item-base {
			margin-bottom: 14px;
		}
	}

	.typography-index-headline {
		font-size: 56px;
		font-weight: 600;
	}

	.typography-index-list-title {
		font-size: 17px;
		font-weight: 400;
		color: #6e6e73;
		margin-bottom: 15px;
	}

	.typography-index-item-elevated {
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 0.007em;
	}

	.typography-index-item-base {
		font-size: 17px;
		font-weight: 600;
	}

	.index-link {
		color: inherit;
	}
}

#ac-globalfooter {
	--footer-background: rgb(245, 245, 247);
	--footer-border-color: rgba(0, 0, 0, 0.16);
	--footer-text-color: rgba(0, 0, 0, 0.56);
	--footer-link-color: rgba(0, 0, 0, 0.72);
	--footer-pipe-color: rgba(0, 0, 0, 0.48);
	--footer-directory-title-color: rgba(0, 0, 0, 0.88);
	--footer-directory-title-color-hover: #000;
	--footer-directory-title-focus-offset: 4px;
	--footer-section-border-color: var(--footer-border-color);
	--footer-pipe-border: 1px solid var(--footer-pipe-color);
	font-size: 12px;
	color: var(--footer-text-color);
	background: var(--footer-background);
	line-height: 1.33;
	font-weight: 400;
	min-width: 1024px;
	overflow: hidden;
	position: relative;
	z-index: 1;

	margin: 0;
	padding: 0;
	float: initial;

	* {
		float: inherit;
		color: inherit;
		text-decoration: none;
	}

	.ac-gf-content {
		margin: 0 auto;
		max-width: 980px;
		padding: 0 22px;
	}

	.ac-gf-label {
		position: absolute;
		width: 1px;
		height: 1px;
		clip-path: inset(0 0 99.9% 99.9%);
		overflow: hidden;
		clip: rect(1px 1px 1px 1px);
	}

	.ac-gf-sosumi {
		border-bottom: 1px solid var(--footer-section-border-color);
		padding: 17px 0 11px;

		ol {
			list-style-position: outside;
			list-style-type: decimal;
			margin: 0;
			padding: 0 17px;
		}

		li {
			padding-bottom: 0.8em;
		}
	}

	.ac-gf-breadcrumbs {
		padding: 17px 0;
		position: relative;
		z-index: 1;
		color: var(--footer-link-color);

		.ac-gf-breadcrumbs-home {
			position: absolute;
			inset-inline-start: 0;
			z-index: 2;
			top: 20px;
		}

		.ac-gf-breadcrumbs-path {
			font-size: 12px;
			line-height: 1.3;
			font-weight: 400;

			.ac-gf-breadcrumbs-list {
				padding-inline-start: 25px;
				text-align: start;
			}

			.ac-gf-breadcrumbs-item {
				margin-inline-end: 7px;
				padding: 3px 4px 3px 0;
			}

			&::after {
				clear: both;
			}
		}
	}

	.ac-gf-directory {
		display: flex;
		.ac-gf-directory-column {
			flex-basis: 25%;
		}

		.ac-gf-directory-column-section {
			margin-top: 24px;
		}

		.ac-gf-directory-column-section-list {
			margin-inline-end: 20px;
			list-style: none;
		}

		.ac-gf-directory-column-section-title {
			margin-bottom: 0.8em;
			display: block;
		}

		.ac-gf-directory-column-section-item {
			margin-bottom: 0.8em;
		}

		.ac-gf-directory-column-section-link {
			color: var(--footer-link-color);
		}

		h3 {
			color: var(--footer-directory-title-color);
			font-size: 12px;
		}
	}

	.ac-gf-footer {
		padding-top: 37px;
		padding-bottom: max(11px, env(safe-area-inset-bottom));

		.ac-gf-footer-shop {
			--footer-mini-shop-link-color: rgb(0, 102, 204);

			margin-bottom: 16px;
			padding-bottom: 19px;
			border-bottom: 1px solid var(--footer-section-border-color);

			a {
				color: var(--footer-mini-shop-link-color);
				text-decoration: underline !important;
			}
		}

		.ac-gf-footer-legal {
			display: flex;
			font-size: 11px;

			.ac-gf-footer-legal-copyright {
				margin-inline-end: 30px;
				margin-top: 5px;
			}

			.ac-gf-footer-legal-links {
				display: flex;
				margin-top: 5px;

				/* gap: 20px; */

				.ac-gf-footer-legal-links-item {
					font-weight: 500;
					margin-right: 6px;

					&::after {
						content: "";
						position: absolute;
						height: 10px;
						width: 1px;
						background-color: var(--footer-pipe-color);
						margin: 3px 0;
					}
				}

				.ac-gf-footer-legal-link {
					display: inline-block;
					box-sizing: content-box;
					padding-inline-end: 9px;
				}
			}
		}

		.ac-gf-footer-locale {
			float: right;

			&::after {
				clear: both;
			}
		}
	}
}

@media screen and (max-width: 1068px) {
	.section-welcome {
		--welcome-height: 422px;

		.welcome-media {
			width: 476px;
			position: relative;
			display: flex;
		}

		.media-video {
			display: none;
		}

		.media-picture {
			display: block;
		}
	}
	.marquee-container {
		top: 0px;
	}

	.announcement-banner {
		height: auto;
	}

	.banner {
		.banner-card-row {
			flex-flow: column;
			padding-inline-start: 0;
		}

		.banner-card-text-column {
			padding: 56px 28px 0;
			box-sizing: content-box;

			.banner-card-header {
				font-size: 24px;
				line-height: 1.2;
				max-width: 100%;
			}

			.banner-card-ctas {
				display: grid;
				justify-content: center;
				text-align: center;
				gap: 15px;
			}
		}

		.banner-card-image-column {
			height: 100%;
			width: 100%;

			.banner-card-image {
				width: 412px;
				height: 286px;
				object-fit: cover;
			}
		}
	}

	:root {
		--p-width: 934px;
		--p-height: 628px;
		--p-margin: 44px;
	}
}
